@import 'variables';
@import 'flex';

.menu {
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	
	text-align: center;
	
	button {
		font-size: 2em;
		padding: 1em 3em;
	}
}

.play {
	
	text-align: center;
	
	.timer {
		background-color: $color-primary;
		color: $color-primary-contrast;
		font-size: 3em;
		line-height: 1.5em;
		padding: 0.2em;
	}
}

.results {
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	
	font-size: 2em;
	text-align: center;
	
	button {
		font-size: 2em;
		padding: 1em 3em;
	}
	
	h1 {
		font-size: 2em;
		color: $color-compliment;
	}
	
	ol {
		list-style-type: none;
	}
	
	.scoreList {
		margin-left: 100px;
	}
}

.loader {
	h1 {
		font-size: 4em;
		text-align: center;
	}
}