@import 'variables';

button {
	border: none;
	background-color: #1FADC5;
	color: $color-primary-contrast;
	border: 2px solid $color-primary-contrast;
	padding: .6em 1.2em;
	border-radius: 3em;
	cursor: pointer;
	margin: 0 .3em;
	outline: none;
	font-size: 100%;
}

button[disabled] {
	background-color: #ddd;
	color: #aaa;
}
