@import 'variables';
@import 'mixins';
@import 'buttons';

*:focus {
	outline: 0;
}

body {
	overflow: hidden;
	font: 20px $font-stack;
 	color: $color-primary;
 	background-color: $color-primary-contrast;
 	margin: 20px;
 	// text-align: center;
 	border: 0;
}

item-app {
	display: block;
	max-width: 400px;
	margin: 1% auto;
}

a {
	text-decoration: none;
	color: grey;
}

input {
	font-size: 100%;
	padding: .6em;
	border: 1px solid #ccc;
	border-radius: 3px;
	float: left;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
	padding: .2em 0;
}

label {
	cursor: pointer;
}
.completed {
	text-decoration: line-through;
	color: #ccc;
}

.text-center {
	text-align: center;
}
